.header {
  background-color: #d9edf7;
  min-height: 75px;
  padding: 10px;
}

h1 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

.teamsGenerator {
  min-height: 50px;

}
.line {
    border-bottom: 1px solid black;
}

thead {
  background-color: #d9edf7;
}
